<script type="text/html" id="settings-home-template">
 <div class="navbar-inner">
  <div class="container">
    <a class="brand">iCal HUD</a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li class="">
          <a data-event-name="navigate:index">Home</a>
        </li>
        <li class="">
          <a  data-event-name="navigate:settings">Calendar Settings</a>
        </li>
        <li class="">
          <a  data-event-name="navigate:hud">HUD</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</script>