<script type="text/html" id="settings-home-template">
<div class="settings">
  <h1>Settings</h1>
  <form id="settingsForm" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputiCalUrl">iCal Url</label>
      <div class="controls">
        <input type="text" id="inputiCalUrl" placeholder="iCal Url" value="{{iCalUrl}}"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputTitle">Main Page Title</label>
      <div class="controls">
        <input type="text" id="inputTitle" placeholder="Main Page Title" value="{{title}}"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Save</button>
      </div>
    </div>
  </form>
</div>
</script>